#contact {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(18, 63, 87, 0.8),rgba(0, 0, 0, 0.5)), url("../img/jaime-lopes-eY1x1epA24g-unsplash.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;

  
  .contactme {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 1.2rem;

  }

  .contact-me, .contact-avaible{
    font-weight: bold;
    color:#46a4d7;
    font-size: 1.4rem;
  }

  footer {
    height: 45%;
    position: relative;
    text-align: center;

    .citation {
      width: 100%;
      padding: 0 5px;
      color: white;
      font-style: italic;
      font-family:sans-serif !important;

      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }

    .footer-info {
      height: 30vh;
      width: 100%;
      background: #0f0f0f;
      position: absolute;
      bottom: 0;

      .gotop {
        width: 100%;
        color: white;
        font-size: 8vh;
        position: absolute;
        bottom: 26vh;
        display: flex;
        justify-content: center;

        i {
          cursor: pointer;
        }
      }

      .social {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-top: 25px;
        padding-left: 10px;

        .social-icon {
          padding: 20px 0px;
          margin: 0 70px;
          transition: 0.5s;
          &:hover {
            color: #46a4d7;
          }

          @media screen and (max-width: 576px) {
            margin: 0 40px;
          }
        }

        a {
          color: white;
        }
      }

      .made {
        text-align: center;
        color: #525252;
        font-family: sans-serif;
        padding-top: 25px;
      }
    }
  }
}
