* {
  margin: 0px;
  padding: 0px;
}

.content {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  .infoBox {
    height: 80%;
    padding-top: 10%;
    div > h1 {
      font-size: 70px;
    }
    div > h2 {
      font-size: 30px;
      margin-bottom: 50px;
    }
    div > p {
      width: 50%;
      padding-bottom: 20px;
      margin: 0 auto;
      color: grey;
      font-size: 18px;
      line-height: 35px;
    }
    .separate {
      width: 400px;
      height: 1px;
      background: rgb(255, 255, 255);
      margin: 0 auto;
    }
    .developer {
      color: #46a4d7;
    }
    .social {
      width: 30%;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      font-size: 30px;
      padding-top: 25px;

      .social-icon {
        margin: 0 30px;
        transition: 0.5s;
        &:hover {
          color: #46a4d7;
        }
      }

      a {color: white}
    }
  }

  .down {
    a {
      font-size: 35px;
      color: white;
      transition: 0.5s;

      &:hover {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}
