@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header {
  height: 11%;
  width: 100%;
  position:fixed;
  top:0;
  transition: 0.5s;

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: bold;

    @media screen and (max-width: 400px) {
      font-size:12px;
      justify-content: space-evenly;
    }

    li{
        margin: 0px 15px;
        @media screen and (max-width: 400px) {
          margin: 0px 5px;
        }
        a{
          text-decoration: none;
          color:white;
          transition: 0.4s;
          &:hover{
            color:#46a4d7;
          }          
        }    
  }
}
}
