#resume{
    width: 100vw;
    height: 100vh;
    background: white;

    .resume{
      height: 50%;
      display:grid;
      grid-template-columns:0.5fr 1fr 2fr 0.5fr;
      grid-template-rows: 50% 50%;
      align-items: center;
  
      .resume-title{
        grid-column: 2;
        grid-row:1;

      }
  
      .resume-item1{
        grid-column:3;
        grid-row:1;
      }
  
      .resume-item2{
        grid-column:3;
        grid-row:2;
      }
    }

    .skills{
      height: 50%;
      text-align: center;
    }
  }