#works {
  width: 100vw;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding-top: 7vh;
  padding-bottom: 2vh;

  @media screen and (max-width: 576px) {
    min-height: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .works-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .works-container .box {
    margin: 10px 0px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    @media screen and (max-width: 576px) {
      width: 200px;
      height: 200px;
    }
  }

  .works-container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: center;
    }
  }

  .works-container .box:hover .imgBx {
    transition: 2s ease;
    -moz-transition: 2s ease;
    -webkit-transition: 2s ease;
    -o-transition: 2s ease;
  }

  .works-container .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 164, 215, 0.8);
    color: white;
    transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    border: 1px solid black;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
  }

  .works-container .box:hover .contentBx {
    opacity: 1;
  }

  .works-container .box .contentBx div {
    transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transform: translateY(100%);

    ul {
      list-style: none;
    }
  }

  .works-container .box:hover .contentBx div {
    transform: translateY(0);
  }
}
