#works {
  width: 100vw;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  @media screen and (max-width: 772px) {
    min-height: 100vh;
  }

  .works-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .works-container .box {
    margin: 10px 0px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    @media screen and (max-width: 576px) {
      width: 200px;
      height: 200px;
    }
  }

  .works-container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: center;
    }
  }

  .works-container .box:hover .imgBx {
    transform: translateY(-100%);
  }

  .works-container .box .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s ease-in-out;

    .works-container .box .layer.layer1 {
      background: #0096ff;
      transform: tanslateY(-100%);
    }

    &.works-container .box:hover .layer.layer1 {
      transform: translateY(-100%);
    }
    .works-container .box .layer.layer2 {
      background: #90ff00;
      transform: translateY(-200%);
    }
    &.works-container .box:hover .layer.layer2 {
      transform: translateY(-100%);
    }
  }

  .works-container .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(70, 164, 215, 0.8);
    color: white;
    transition: 1s ease-in-out;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    border:1px solid black;

  }

  .works-container .box:hover .contentBx {
    transform: translateY(0);
  }

  .works-container .box .contentBx div {
    transition: 2s ease-in-out;
    transform: translateY(100%);
    
    ul{
      list-style: none;
    }
  }

  .works-container .box:hover .contentBx div {
    transform: translateY(0);
    
  }
}
